<!DOCTYPE html>
html(lang="ru", ng-app="BellyDays")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title 90 Дней Живота
    link(href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="css/styles.css")

    script(src="js/d3/d3.min.js")
    script(src="js/moment/min/moment-with-locales.min.js")
    script(data-require="angular.js@*", data-semver="1.4.0-beta.4", src="https://code.angularjs.org/1.4.0-beta.4/angular.js")
    script(src="js/ng-file-upload/angular-file-upload-shim.min.js")
    script(src="js/ng-file-upload/angular-file-upload-all.min.js")

  body(
    class="state-{{page}}", 
    ng-controller="AppController",
    drag-over-class="dragover",
    ng-file-drop, 
    accept=".jpg,.png",
    ng-model="files"
    )

    
    form.note-form(
      name="NoteForm",
      novalidate="novalidate",
      ng-submit="addNote()",
      ng-controller="NoteFormController")
      textarea(
        name="note", 
        autocomplete="off", 
        required="required",
        minlength="3", 
        cols="30", 
        rows="10", 
        placeholder="Дорогой дневничек, это я, жиробас, и сегодня…",
        ng-model="note"
        )
      button(
        type="submit"
        ng-disabled='!NoteForm.$valid')

    form.weight-form(
      name="WeightForm",
      ng-submit="addWeight()",
      ng-controller="WeightFormController")
      input(
        type="text", 
        autocomplete="off", 
        ng-model="weight"
        minlength="2",
        maxlength="7", 
        pattern="^[1-9][0-9]{1,2}(?: )?(?:кг)?(?:\\.)?$", 
        name="weight", 
        required="required", 
        placeholder="65 кг.",
        value="")
      button(
        type="submit",
        ng-disabled='!WeightForm.$valid')
      button(
        type="reset", 
        ng-click="show('list')")

    figure.graph
      .graph__chart
      button.graph__close(
        type="button",
        ng-click="show('list')")
    
    article.photos
      .photos__counter(ng-show="photos.length>1") {{photos_index+1}} из {{photos.length}}
      .photos__wrapper(style="left: -{{photos_index*100}}%;")
        section.photos__screen(ng-repeat="photo in photos | orderBy:'_id':true", data-photo="{{photo}}")
          img.photos__photo(ng-src="{{photo_url}}{{day_time}}/{{photo.url}}", alt="Фотография")
          .photos__spinner
      
      nav.photos__navigation
        button.photos__prev(
          type="button"
          , ng-click="prevPhoto()"
          , ng-hide="firstPhoto()"
          )
        button.photos__next(
          type="button"
          , ng-click="nextPhoto()"
          , ng-hide="lastPhoto()"
          )
        button.photos__close(
          type="button"
          , ng-click="closePhoto()"
          )

    article.notes
      section(ng-repeat="note in notes | orderBy:'timestamp':true")
        h2.notes__title(data-time="{{note.timestamp}}", data-first="{{$first}}")
        section.notes__note {{note.text}}

    section.page__bg
    section.page
      .page__wrapper(style="margin-top: -{{scroll_top}}px")
        section.landing
          h1.landing__title 90 дней
            br
            | живота

        nav.auth
          a.auth__twitter(
            data-ng-show="!isAuth()",
            data-ng-click="login()",
            title="Авторизация") 
          a.auth__logout(
            data-ng-click="login()",
            data-ng-show="isAuth()",
            title="Выйти из учетной записи")
          button.show-graph(
            type="button", 
            title="Показать процесс похудения в виде графика",
            ng-click="show('graph')")
        
        nav.controls(data-ng-show="isAuth()")

          button.photo(
            type="button", 
            title="Добавьте фотографию",
            ng-file-select,
            accept=".jpg,.png",
            ng-model="files",
            ng-disabled = "uploading"
            )
            span.upload__progress(
              ng-model="progress"
              style="height:{{progress}}%"
              )
              span.upload__progress__invert

          button.weight(
            type="button", 
            title="Сколько вы сегодня весите?", 
            ng-show = "isWeight()",
            ng-click= "openWeightForm()")

          button.note(type="button", title="Оставьте заметку", ng-click="openNoteForm()")

          button.fitbit(
            type="button", 
            title="Сколько вы прошли сегодня?", 
            ng-click= "FitItBit()")
        
        section.days

          section.day(ng-repeat="day in days | orderBy:'_id':true", data-id="{{day._id}}")
            .day__date(data-time="{{day._id}}")
            .day__weight(ng-show="day.weight") {{day.weight}} кг
            .day__link
            nav.day__media
              button.day__photos(type="button", ng-show="day.photos.length > 0", ng-click="openPhotos(day._id)")
                span.day__photos-count(ng-show="day.photos.length > 1") {{day.photos.length}}
                  span фото
              button.day__notes(type="button", ng-show="day.notes.length > 0", ng-click="openNotes(day._id)")

        footer.day__footer
          .day__copy
            p.day__footer-copy © 2015 Немцев Антон
            p.day__icons Использованы иконки, созданные Siddharth Dasari, Chance Smith, Nithin Davis Nanthikkara, Justin Galicz, Casper Jensen, Stefan Parnarov, Milky, Tim Holman, Anand A Nair, Pedro Lalli, Mike Rowe и распространяемые по лиценции 
              a.day__cc(href="http://creativecommons.org/licenses/by/3.0/us/") Creative Commons – Attribution (CC BY 3.0)
          p.day__made-in-ukraine Сделано в Украине
          button.day__scroll-top(type="button", ng-click="scrollTop()")
        .day__overlay(ng-click="show('list')")

    script(src="js/script.js")
